@charset "UTF-8";

.hidden
{
	display: none;
}

#siteContainer
{
	width: 960px;
	background-color: #e47daa66;
	margin: 0 auto;
	box-shadow: 0 0 20px #000000;
	margin-top: 80px;
	margin-bottom: 80px;
	border-radius: 20px;
}

body
{
	color: black;
	height: 100%;
	background-repeat:no-repeat;
  background-size:cover;
}

a
{
	text-decoration: none;
}

#mainHeader
{
	height: 100px;
	display: flex;
	flex-direction: row;
}

#title
{
	margin: 0 auto;
}

#mainHeader h1
{
	font-family: Algerian;
	font-size: 80px;
	margin-bottom: 20px;
	margin-top: 40px;
	letter-spacing: 2px;
	color: #fff;
}

#mainNav
{
	margin-left: auto;
	margin-top: 180px;
	margin-right: 15px;
}

#mainNav li
{
 display: inline;
 font-size: 15px;
 font-family: 'Cabin', sans-serif;
}

#mainNav ul li a
{
  padding: 10px;
	color: white;
	font-weight: 800;
	transition: 0.3s;
  position: relative;
}

#mainNav ul:hover li a
{
  transform: scale(1.5);
  opacity: .2;
  filter: blur(3px);
}

#mainNav ul li a:hover
{

  transform: scale(2);
  opacity: 1;
  filter: blur(0px);
}

#about p
{
	font-family: Bangers;
	font-size: 30px;
	margin: 50px;
	text-align: center;
}


#mixer
{
	margin-bottom: 50px;
}

#turnTable
{
	height: 300px;
	width: 300px;
	margin-left: 45px;
	margin-top: 60px;
}

#turnTable2
{
	height: 300px;
	width: 300px;
	margin-right: 45px;
	margin-top: 60px;
}

#lines:hover {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}

#musicIcons h2
{
	font-family: Bangers;
	font-size: 30px;
	text-align: center;
	margin-bottom: 20px;
	letter-spacing: 2px;
	color: aliceblue;
}


#soundBoxs
{
	display: flex;
	flex-direction: row;
	margin: 10px;
	justify-content: space-around;
	padding-bottom: 100px;
}


#mainFooter
{
	width: 960px;
	height: 90px;
	background-color: gray;
	opacity: 0.5;
}

#footerNav
{
	text-align: center;
	padding-top: 30px;
}

#footerNav li
{
 display: inline;
 font-size: 20px;
}

#footerNav ul li a
{
  padding: 15px;
	color: black;
}

#footerNav ul li a:hover
{
	color: red;
	opacity: 0.75;
}

.sound
{
	padding: 20px;
	color: #fff;
	font-family: 'Cabin', sans-serif;
}


/* Drag & Drop Zone for tracks*/

#mixer
{
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

#track-slot
{
	margin-left: 50px;
}

#game-boards {
	width: 100%;
	text-align: center;
}

.track-slot-drop-zone {
	display: inline-block;
	border: medium solid #333;
	color: inherit;
	overflow: hidden;
	width: 482px;
	margin-right: 50px;
	margin-top: 50px;
}

.puzzle-board { width:300px; }

.puzzle-image {
	width: 40%;
	display: block;
	padding: 8px;
	cursor: pointer;
}

.puzzle-image:nth-child(even) {
	float: right;
	clear: both;
}
.puzzle-image:nth-child(odd) {
	float: left;
	clear: both;
}

.drop-zone {
		width: 118.5px;
		height: 80px;
  	border: thin dashed white;
  	float: left;
		position: relative;
}

.tl, .bl { text-aline: right; }
.tr div { bottom: 0; }
.tl div { bottom: 0; right:0; }
.bl div { right: 0; }

#button
{
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100px;
	background-color: #fff;  
	border-radius: 12px;
	text-align: center;
	margin-left: 195px;
	margin-top: 20px;
	font-family: 'Cabin', sans-serif;
	
}